PORT=3000
HOTE_BD=localhost
PORT_BD=3306
NOM_BD=bibliotheque_db
UTILISATEUR_BD=root
MOT_DE_PASSE_BD=
SECRET_JETON=changez_ce_secret_par_une_phrase_longue_et_unique
COURRIEL_ADMINISTRATEUR=
MOT_DE_PASSE_ADMINISTRATEUR=
NOM_COMPLET_ADMINISTRATEUR=Administrateur principal
