PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=bibliotheque_db
DB_USER=root
DB_PASSWORD=
JWT_SECRET=changez_ce_secret_par_une_phrase_longue_et_unique
ADMIN_EMAIL=
ADMIN_MOT_DE_PASSE=
ADMIN_NOM_COMPLET=Administrateur principal
